html {
        scroll-behavior: smooth;
      }


* {
    box-sizing: border-box;
    
    }

.nav {
    display: block;
    position: fixed;
    margin-top: 20px;
}

a {
    text-decoration: none;
    color: #000;
}
.nav a {
    font-size: 1.25rem;
    font-family: arial;
}
.nav a:hover {
    color: #3550A1;
    letter-spacing: 1.05px;
    transition: all .1s ease-in;

}
.container {
    width: 600px;
    margin: 100px auto 0 auto;
    scroll-behavior: smooth;
}
.news h1 {
    margin: 30px auto;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center
}
.news h1:hover {
    color: #3550A1;
    transform: scale(1.03);
    transition: .12s ease-in;
}
.sleave {
    margin-top: 200px!important;
}
.hero {
    margin: 0 auto;
    background: url('./charlie_canal.jpg');
    background-size: cover;
}

.sleave {
    font-family: arial;
    margin: -30px 0 auto;
    font-size:100px;
    text-align: center;
    color: white;
    width: 100%;
    object-fit: contain;
    object-position: 50%;
    opacity: .9;
    
}

.heropic {
max-width: 100%;
}

.tour_dates {
    width: 100%;
    margin-top: 60px!important;
}
.tour_left,
.tour_right {
    display: inline-block;
}

.tour_right {
    text-align: right;
    float: right;
    margin: 0 40px 60px 0;
}
.tour_left {
    margin: 0 0 60px 40px;
}
.tour_dates a {
    color: white;
    cursor:pointer!important;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 1000;
    
}

#dont_expect_anything iframe {
    width: 100%!important;
    margin: 100px auto;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: -120px; 
}
.box {
    width: auto;
    padding: 10px;
    border: 2px solid white;
    height: fit-content;
}
.cover {
    max-width: 400px;
    max-height: 400px;
}
.shirt img {
    width: 100%;
    margin: 100px auto;
}

.review iframe {
    width: 100%;
    height: 500px;
}

footer  {
    position: fixed;
    bottom: 5px;
    height: 50px;
}

i.fa-brands {
    font-size: 2rem;
    color: black;
    opacity: .9;
    margin: 0 4px;
    padding: 5px;
}

.fa-instagram:hover {
    color: #8134af;
    transform: scale(1.1);
    transition:  .1s ease-out;
}
.fa-youtube:hover {
    color: red;
    transform: scale(1.15);
    transition:  .1s ease-out;
}
.fa-spotify:hover {
    color: #1db954;
    transform: scale(1.12);
    transition:  .1s ease-out;
}
.fa-square-facebook:hover {
    color: #3550A1;
    transform: scale(1.13);
    transition:  .1s ease-out;
}

@media (max-width:768px) {
    .container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    }
    .nav {
        display: none!important;
    }
    .hero {
        width: 100vw!important;
    }
    .tour_left,
    .tour_right,
    .tour_left a,
    .tour_right a {
        display: inline-block;
        text-align: center;
        margin: 0 auto;
    }
    .grid {
        grid-template-columns: 1fr;
        margin: 0 auto;
        width: 100vw;
        background-color: black;
    }
    .box {
        margin: 0 auto;
    }
    .box3,
    .box4 {
        display: none;
    }

    .cover {
        border: 4px solid black;
    }

footer  {
    position: fixed;
    top: 5px;
    right: 5px;
    height: 60px;
    background-color:#f2f2f2;
    border-radius: 15px;
    opacity: .8;

}
i.fa-brands {
    font-size: 3rem;
}
}