@font-face {
    font-family: Grotesk;
    src: url(https://github.com/ocharlas/New-Sleave-Site/blob/main/resources/fonts/PP%20Neue%20Montreal%20-%20Free%20for%20Personal%20Use%20v2.6/OTF/PPNeueMontreal-Italic.otf);
}
@font-face {
    font-family: 'Neue Montreal';
    src: url(https://github.com/ocharlas/New-Sleave-Site/blob/main/resources/fonts/PP%20Neue%20Montreal%20-%20Free%20for%20Personal%20Use%20v2.6/OTF/PPNeueMontreal-Medium.otf);
}
html {
        scroll-behavior: smooth;
      }


* {
    box-sizing: border-box;
    }

body {
 /*   background-color: rgb(220,230,255);*/
 background: url('stars3.jpeg');
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-size: cover;

}

.nav {
    display: block;
    position: fixed;
    margin-top: 20px;
}

a {
    text-decoration: none;
    color: #000;
}
.nav a {
    font-size: 1.25rem;
    font-family: 'Neue Montral',arial;
}
.nav a:hover {
    color: #3550A1;
    letter-spacing: 1.05px;
    transition: all .1s ease-in;

}
.container {
    width: 600px;
    margin: 100px auto 0 auto;
    scroll-behavior: smooth;


}
.atsaay_background {
    margin-top: 50px;
    background-color: #212121!important;
    height: 830px;
    padding-top: 5%;
    border-radius: 12px;
}
h1.news1 {
    font-family:Arial, Helvetica, sans-serif/*'Grotesk', Helvetica, sans-serif*/;
    text-align: center;
    transform: scalex(.93);
    color: rgba(228, 228, 228, .8);
    margin: -30px auto 20px auto;    
}
span.news1 {
    margin-top: 10px!important;
}
.atsaay {
    font-size: 36px;
    letter-spacing: -2px;
    color: white;
}
#outnow SPAN{
    margin-bottom: 20px!important;
}
h3.labels {
    font-size: 24px;
    letter-spacing: -1px;
    text-align: center;
    margin: 12px auto;
    margin-top: -330px;
    color: white!important;
}
.engineerrecords,
.sthrecords {
    color: white!important;
}

.labels a:hover{
    color: #C72B22!important;
}
.sleave {
    margin-top: 200px!important;
}
.hero {
    margin: 0 auto;
    background: url('./charlie_canal.jpg');
    background-size: cover;
}

.sleave {
    font-family: arial;
    margin: -30px 0 auto;
    font-size:100px;
    text-align: center;
    color: white;
    width: 100%;
    object-fit: contain;
    object-position: 50%;
    opacity: .9;
}

.heropic {
max-width: 100%;
}

.tour_dates,
.tour_dates a {
    width: 100%;
    margin-top: 60px!important;
    opacity: 0;
}
.tour_left,
.tour_right {
    display: inline-block;
}

.tour_right {
    text-align: right;
    float: right;
    margin: 0 40px 60px 0;
}
.tour_left {
    margin: 0 0 60px 40px;
}
.tour_dates a {
    color: white;
    cursor:pointer!important;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 1000;
    
}
.news1 {
    margin: 50px 0 auto;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 5rem;
    width: 100%;
}
.atsaay_hero img{
    margin: 0 auto!important;
    max-width: 600px;
}

#linktree {
    flex-direction: column;
    
    margin: 0 auto;
    margin-top: -530px;
    padding: 20px auto;
    border-radius: 12px!important;
    display: flex;
    margin-bottom: 530px;
    opacity: 0;
    transition: opacity .2s linear;
    }

#linktree:hover
{
    display: flex;
    opacity: 1;
    
}
.linktree a {
    color: #dedede;
}
a.linktree:hover {
    color: black!important;
}
button {
    padding: 10px 20px;
    margin: 5px auto;
    width: 300px;
    border-radius: 25px;
    background-color: #333;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    border-style: none;
    border: 2px solid #333;
}
button:active {
    opacity: .8;
}
.spotify_btn {
    color: #1ED760;
}
.spotify_btn:hover {
    background-color: #1ED760;
    color: black!important;
    border: 2px solid black;
}
.apple_btn {
    color: #d5d5d5;
}
.apple_btn:hover {
    background-color: #a0a0a0;
    color: black!important;
    border: 2px solid black;
}
.amazon_btn {
    color: #0091ea;
    
}
.amazon_btn:hover {
    background-color: #0091ea;
    color: black!important;
    border: 2px solid black;
}

.bandcamp_btn:hover {
    background-color: #1FA0AE;
    color: #000!important;
    border: 2px solid black;
}
.youtube_btn {
    color: #b2071d;
}
.youtube_btn:hover {
    background-color: #c0001a;
    color: black!important;
    border: 2px solid black;
}
.deezer_btn {
    color: #f5f5f5;
    margin-top: -14px;
    
}
.deezer_btn:hover {
    background:linear-gradient(45deg, #ff0000, #ffed00, #ff0092, #c2ff00, #00c7f2, #c1f1fc);
    color: black!important;
    border: 2px solid black;

}
.engineerrecords {
letter-spacing: 1.3px;
}

#bardown {
    margin-top: 24px;
}
#dont_expect_anything iframe {
    width: 100%!important;
    margin: 50px auto;
}

.grid {
    display: none;
    grid-template-columns: 1fr 1fr;
    margin-left: -120px; 
    position: relative;
    text-align: center;
}
.box {
    width: auto;
    padding: 10px;
    border: 2px solid white;
    height: fit-content;
}
.box1 {
    display: none;
}

.fa-music {
    position:absolute;
    font-size: 4rem;
    color: greenyellow;
    text-align: center;
    top: 20%;
    left: 25%;
    
    
}
.cover {
    max-width: 400px;
    max-height: 400px;
}
.shirt img {
    width: 100%;
    margin: 100px auto;
}
.box4 {
    margin-left: 50%;
}
.review iframe {
    width: 100%;
    height: 500px;
}

footer  {
    position: fixed;
    bottom: 5px;
    height: 50px;
}

i.fa-brands {
    font-size: 2rem;
    color: #f9f9f9;
    opacity: .9;
    margin: 0 4px;
    padding: 5px;
}

.fa-instagram:hover {
    color: #8134af;
    transform: scale(1.1);
    transition:  .1s ease-out;
}
.fa-youtube:hover {
    color: red;
    transform: scale(1.15);
    transition:  .1s ease-out;
}
.fa-spotify:hover {
    color: #1db954;
    transform: scale(1.12);
    transition:  .1s ease-out;
}
.fa-square-facebook:hover {
    color: #3550A1;
    transform: scale(1.13);
    transition:  .1s ease-out;
}
.cartel {
    display: block;
    margin: -90px 0 0 6px;
    width: 196px;
    border-radius: 4px;
    filter: invert(1);
}
img.cartel:hover {
    filter: invert(0);
}

@media (max-width:600px) {
    body {
        background: #121212;
    }
    .container {
    margin-top: 45px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    }
    .atsaay_background {
        height: 620px;
    }
    .nav {
        display: none!important;
    }
    h1#records span{
        line-height: 3px!important;
        font-size: 1px;
    }
    .hero {
        margin-top: 60px;
        background-size: contain;
        background-repeat: no-repeat;
        height: 400px;

    }
    
    .sleave {
    margin-top: 100px!important;
    }
    .hero img,
    .atsaay_hero img {
        width: 100vw!important;
    }
    .tour_left,
    .tour_right,
    .tour_left a,
    .tour_right a {
        display: inline-block;
        text-align: center;
        margin: 0 auto;
    
    }
    .grid {
        grid-template-columns: 1fr;
        margin: 0 auto;
        width: 100vw;
        background-color: black;
    }
    .box {
        margin: 0 auto;
    }
    
    .box2,
    .box3,
    .box4 {
        display: none;
    }

    .cover {
        border: 4px solid black;
    }

footer  {
    position: fixed;
    top: 35px;
    right: 5px;
    height: 60px;
    background-color:#f2f2f2;
    border-radius: 15px;
    opacity: .8;

}
i.fa-brands {
    font-size: 3rem;
    color: black !important;
    top: 50px !important;
    z-index: 9000;
}
.cartel {
    z-index:-1;
    filter: invert(0);
}
    .labels {
        display: none;
    }

#linktree {
opacity: 0;    
margin-top: -340px!important;
animation: fadein ease 4s .5s forwards;

}
@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: .95;
    }

}
button {
    padding: 6px!important;
    margin: 2px auto;
}
}
